{% extends "FOSUserBundle::layout.html.twig" %}

{% block header %}
	<div class="headerButton" style="width: 80px; display: inline-block; text-shadow: 0 1px 2px #000; padding-left: 6px">
		<a href="../login" style="text-decoration: none; color: #eee; font-weight: 400">
			<i class="fa fa-chevron-left chevron"></i>
			Takaisin
		</a>
	</div>
	
	<div class="headerTitle" style="min-width: 200px; display: inline-block; text-align: center;  text-shadow: 0 1px 2px #000">
		<span>Rekisteröityminen</span>
	</div>
	
{% endblock %}


{% block fos_user_content %}
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}

