{% extends "FOSUserBundle::layout.html.twig" %}


{% block header %}
	<div class="headerTitle" style="text-align: center; color: #eee; text-shadow: 0 1px 2px #000">Kirjaudu Bogikorttiin</div>
{% endblock %}



{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}






<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <label for="username"><span style="padding-left: 8px; font-weight: 700; color: #eee">Käyttäjänimi</span>
	</label>
    <input class="text-input" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />


    <label for="password"><span style="padding-left: 8px; font-weight: 700; color: #eee">Salasana</span>	</label>
	<input class="text-input" type="password" id="password" name="_password" required="required" />


    <!--<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">Muista minut</label> -->
    
    <p>&nbsp;


    <input type="submit" id="_submit" name="_submit" value="Kirjaudu sisään" style="min-width: 95%" />
</form>

	
	<p><span>Ei käyttäjätiliä?</span>
	<a href="register/" style="color: Aqua"> Rekisteröidy tästä!</a>


{% endblock fos_user_content %}
